[user]
	email = williamtsai1111@gmail.com
	name = Chuanchan
[core]
	editor = vim
[color]
	ui = true
[alias]
	lg = log --color --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
#[url "git@github.com:"]
#	insteadOf = https://github.com/
